@page "/Transacciones"
@inherits PasarelaPago.Client.Pages.DashboardPagos.DashboardPagos

@using PasarelaPago.Shared.Dtos
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using MudBlazor
@using System.Globalization

<Header>Transacciones</Header>

<MudCard>
    <MudCardContent>
        <MudGrid Class="ma-4">
            <MudItem xs="4" sm="4" md="3" lg="2" xl="1" xxl="1">
                <MudSelect Dense="true" T="string" Label="Estado" Margin="Margin.Dense" Variant="Variant.Outlined" @bind-Value="Filtro.EstadoTransaccion">
                    <MudSelectItem T="string" Value="@((string)null)">Todos</MudSelectItem>
                    <MudSelectItem T="string" Value="@("aprobado")">Aprobado</MudSelectItem>
                    <MudSelectItem T="string" Value="@("rechazado")">Rechazado</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="4" sm="4" md="3" lg="2" xl="1" xxl="1">
                <MudDatePicker Label="Fecha inicio" @bind-Date="Filtro.FechaInicio" />
            </MudItem>

            <MudItem xs="4" sm="4" md="3" lg="2" xl="1" xxl="1">
                <MudDatePicker Label="Fecha fin" @bind-Date="Filtro.FechaFin" />
            </MudItem>

            <MudItem xs="4" sm="4" md="3" lg="2" xl="1" xxl="1">
                <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="CargarDashboard">Buscar</MudButton>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

<MudGrid>
    <MudItem xs="12">
        <SfGrid @ref="GridTransacciones"
                ID="GridTransacciones"
                TValue="DTOTransacciones"
                DataSource="@Transacciones"
                AllowExcelExport="true"
                AllowPaging="true"
                AllowSorting="true"
                AllowFiltering="true"
                AllowResizing="true"
                ShowColumnChooser="true"
                Toolbar="@( new List<string>() { "ExcelExport", "ColumnChooser", "Search" })">

            <GridSearchSettings Fields="@(new string[] {
                                            nameof(DTOTransacciones.cedula),
                                            nameof(DTOTransacciones.nombreCliente),
                                            nameof(DTOTransacciones.pais),
                                            nameof(DTOTransacciones.numeroOrden),
                                            nameof(DTOTransacciones.estadoTransaccion),
                                            nameof(DTOTransacciones.moneda) })"
                                Operator="Operator.Contains"
                                IgnoreCase="true" />

            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel" />

            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"
                                   Mode="Syncfusion.Blazor.Grids.SelectionMode.Row"
                                   PersistSelection="true" />

            <GridPageSettings PageSize="10" />

            <GridEvents TValue="DTOTransacciones"
                        OnToolbarClick="ToolbarClick" />

            <GridColumns>
                <GridColumn Field=@nameof(DTOTransacciones.cedula) HeaderText="Cédula" Type="ColumnType.String" Width="120" />
                <GridColumn Field=@nameof(DTOTransacciones.nombreCliente) HeaderText="Nombre" Type="ColumnType.String" Width="180" />
                <GridColumn Field=@nameof(DTOTransacciones.pais) HeaderText="País" Type="ColumnType.String" Width="120">
                    <Template>
                        @{
                            var transaccion = context as DTOTransacciones;
                            @ToCountryName(transaccion?.pais)
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(DTOTransacciones.moneda) HeaderText="Moneda" Type="ColumnType.String" Width="100">
                    <Template>
                        @{
                            var transaccion = context as DTOTransacciones;
                            @ToCurrencyName(transaccion?.moneda)
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(DTOTransacciones.monto) HeaderText="Monto" Type="ColumnType.Number" Width="120" Format="#,##0.00" TextAlign="TextAlign.Right" />
                <GridColumn Field=@nameof(DTOTransacciones.numeroOrden) HeaderText="# Orden" Type="ColumnType.String" Width="150" />
                <GridColumn Field=@nameof(DTOTransacciones.fechaTransaccion) HeaderText="Fecha" Type="ColumnType.DateTime" Width="150" Format="dd/MM/yyyy HH:mm" />
                <GridColumn Field=@nameof(DTOTransacciones.estadoTransaccion) HeaderText="Estado" Type="ColumnType.String" Width="120">
                    <Template>
                        @{
                            var transaccion = context as DTOTransacciones;
                            var estado = ToCapitalizedStatus(transaccion?.estadoTransaccion);
                            var claseCss = GetStatusCssClass(estado);

                            <span class="@claseCss">@estado</span>
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </MudItem>
</MudGrid>


 <style>
    .estado-aprobado {
        color: #198754; 
        font-weight: bold;
    }

    .estado-rechazado {
        color: #dc3545; 
        font-weight: bold;
    }
 </style>